<div class="container">
    <div class="row">
        <div class="col-sm">
            <h3 class=" h-100 d-flex justify-content-center align-items-center">
                MAKE YOUR IMAGE FILES RESPONSIVE ON WEB,IOS AND ANDROID
            </h3>
        </div>
        <div class="col-sm">
            <video width="300" height="400" autoplay muted loop playsinline src="https://image3pc.herokuapp.com/static/media/file_ani.28c8468b.mp4"></video>
        </div>
    </div>   
</div>
