<%- include('./includes/head.ejs') %>
<%- include('./includes/info.ejs') %>


        <div class="container">
            <div class="mt-4 p-5 bg-dark text-white text-center rounded">
                <h1 class="text-center">Error 404 - Page Not Found!</h1>
                <p>Click <a href="/">here</a> to return to the home page. </p>
            </div>
            
                
        </div>
<%- include('./includes/footer.ejs') %>