<%- include('./includes/head.ejs') %>
<%- include('./includes/info.ejs') %>
        <div class="container">
            <div class="mt-4 p-5 bg-dark text-white text-center rounded">
                <h1>Something went wrong.</h1>
                <p>We are working on it, please bear with us.</p>
            </div>
        </div>


<%- include('./includes/footer.ejs') %>
